apiVersion: nais.io/v1alpha1
kind: Application
metadata:
  name: dataprodukt-annulleringer
  namespace: tbd
  labels:
    team: tbd
spec:
  image: {{image}}
  port: 8080
  liveness:
    path: isalive
  readiness:
    path: isready
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 200m
      memory: 500Mi
  replicas:
    min: {{minReplicas}}
    max: {{maxReplicas}}
    cpuThresholdPercentage: 75
  prometheus:
    enabled: true
    path: /metrics
  kafka:
    pool: {{pool}}
  gcp:
    sqlInstances:
      - type: POSTGRES_17
        diskAutoresize: true
        tier: {{#if sqlInstanceTier}}{{ sqlInstanceTier }}{{else}}db-custom-1-3840{{/if}}
        databases:
          - name: annulleringer
            envVarPrefix: DATABASE
            users:
              - name: bigquery_datastream
        flags:
          - name: cloudsql.logical_decoding
            value: "on"
  env:
    - name: KAFKA_RAPID_TOPIC
      value: tbd.rapid.v1
    - name: KAFKA_CONSUMER_GROUP_ID
      value: tbd-dataprodukt-annulleringer-v1
    - name: KAFKA_RESET_POLICY
      value: "earliest"
  observability:
    logging:
      destinations:
        - id: elastic
        - id: loki
