name: Deploy annulleringer

on:
  push:
    paths:
      - 'annulleringer/**'
      - 'felles/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - '.github/workflows/annulleringer.yml'
    branches:
      - main
permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: build docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.x'
          cache: 'gradle'
      - name: test and build
        run: ./gradlew :annulleringer:test :annulleringer:build --info
      - name: Build container image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
          image_suffix: annulleringer
          docker_context: annulleringer
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deployDev:
    name: deploy to dev
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: annulleringer/deploy/nais.yml
          VARS: annulleringer/deploy/dev.yml
          VAR: image=${{ needs.build.outputs.image }}

  deployProd:
    name: deploy to prod
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: annulleringer/deploy/nais.yml
          VARS: annulleringer/deploy/prod.yml
          VAR: image=${{ needs.build.outputs.image }}
